@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-libre: "Libre Baskerville",serif;
  --font-playFair: "Playfair",serif;
}

.carousel::-webkit-scrollbar {
  display: none;
}